/*index.html Styling*/

.nav {
	padding: 15px;
}

.nav li {
	display: inline;
}

.nav a {
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
	color: black;
}

.nav a:hover {
	color: turquoise;
	text-decoration: none;
}

.jumbotron {
	background-color: turquoise;
	border-top: 1px dotted black;
}

.jumbotron h1 {
	font-family: 'Pacifico', cursive;
}

.jumbotron p {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
}

body {
	font-family: 'Muli', sans-serif;
}

p {
	text-align: left;
	font-size: 14px;
}

/*Index.html Styling*/


.main h2 {
	text-align: center;
}

.icon-airplane:before {
    content: "\e600";
}

.skills h3 {
	text-align: center;
}

.thumbnail {
	padding-top: 20px;
	border: none;
}

/*Resume.html Styling*/

.resume h2 {
	font-weight: 800;
	text-align: left;
}

.resume h3 {
	font-family: 'Pacifico', cursive;
}

.resume h4 {
	font-weight: 700;
}

.name h1 {
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	text-align: center;
}

.contact {
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}

.job {
	padding-bottom: 40px;
}

.education {
	padding-bottom: 40px;
}

